.loginPage{
    display: flex;
    flex-direction: column;
    height: 92vh;

    text-align: center;
    line-height: 10%;
    font-size: 11px;
    font-family: Lato;
    padding-top: 30px;


    .img{
        display: flex;
        flex-grow:1;
        align-items: center;
        padding-top: 100px;
        img{
            width:100%;
        }
    }
    
    .login{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .button{
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 50px 0px 15px;
        div{
            flex-grow:1;
        }
    }
    .signup{
        display: flex;
        justify-content: center;
        width: 100%;
    
        div{
            flex-grow:1;
        }
    }
    
}